telethon==1.42.0
python-dotenv==1.2.2
openai==2.26.0
google-genai==1.66.0
pydantic==2.12.5
pydantic-settings==2.13.1
httpx==0.28.1
tenacity==9.1.4
pyyaml==6.0.3
tqdm==4.67.3
uvicorn==0.41.0
fastapi==0.135.1
python-socks[asyncio]
